<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Personas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>ALTURA</th>
            <th>MASA CORPORAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of users' class="text-center">
            <td>{{user.name}}</td>
            <td>{{user.height}}</td>
            <td>{{user.mass}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
